.dashboard {
  background-color:#F0F0F0;
  padding: 2%;
}

.dashboard-charts {
  padding: 2%;
  min-height: 70vh;
}

.dashboard-college-list {
  padding-top: 40px;
}

.navbar-header {
  background-color: #003B46;
  color: floralwhite;
  /* padding: 10px; */
}

.navbar-header-oneshot {
  padding: 20px;
  padding-left: 2%;
  margin: 0% !important;
  /* padding-left: 2%; */
  font-family: monospace, monospace;
  /* color: floralwhite; */
  font-size: 40px;
}

.college-stats-state-wise {
  background-color:#F0F0F0;
  padding: 2%;
}

.students-branch-wise {
  background-color:#F0F0F0;
  padding: 2%;
}

.college-details-all {
  background-color:#F0F0F0;
  padding: 2%;
}

.college-profile {
  padding: 2%;
}

.student-profile-all {
  min-height: 90vh;
  background-color:#F0F0F0;
  padding: 2%;
    
}

.student-profile-heading {
  font-size: 50px !important;
  font: monospace;
}

.students-profile-body {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center !important; 
}


.bio{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:2%;
  font-weight: 300;
}

.tb{
  max-width: 600px;
}
.db {
  transition: 0.5s;

}
.db:hover {
  background-color:#272626;
  color:white;
}